body {
    background: white;
}

.fill {
    background: #e0ffee;
    border: 1px solid black;
    position: relative;
    padding:5px;
    width: 190px;
    cursor: pointer;
}

.step1 {
    <!-- position: relative; -->
    display: inline-block;
    height: 500px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(223, 156, 156);
    overflow: scroll;
}
.step22 {
    position: absolute;
    top: 138px;
    right: 913px;
    display: inline-block;
    height: 115px;
    width: 200px;
    margin: 10px 0;
    border: 3px black solid;  
    background-color: rgb(239, 201, 160);
    overflow: scroll;
}

.step23 {
    position: absolute;
    top: 265px;
    right: 903px;
    display: inline-block;
    height: 115px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;  
    background-color: rgb(239, 201, 160);
    overflow: scroll;
}

.step24 {
    position: absolute;
    top: 10px;
    right: 903px;
    display: inline-block;
    height: 115px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;  
    background-color: rgb(239, 201, 160);
    overflow: scroll;
}

.step2 {
    display: inline-block;
    height: 115px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;  
    background-color: rgb(239, 201, 160);
    overflow: scroll;
}

.step3 {
    position: absolute;
    top: 10px;
    right: 673px;
    display: inline-block;
    height: 245px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(251, 229, 164);
    overflow: scroll;
}

.step32 {
    display: inline-block;
    height: 245px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(251, 229, 164);
    overflow: scroll;
}

.step4 {
    display: inline-block;
    height: 500px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(169, 194, 199);
    overflow: scroll;
}

.step5 {
    display: inline-block;
    height: 500px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(189, 214, 172);
    overflow: scroll;
}
.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: lightblue;
    border-style: dashed;
}

.invisible {
    display: none;
}