body {
    background: white;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.step1 {
    display: inline-block;
    height: 500px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(223, 156, 156);
    overflow: scroll;
}
.step2 {
    display: inline-block;
    height: 125px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;  
    background-color: rgb(239, 201, 160);
    overflow: scroll;
}

.step3 {
    display: inline-block;
    height: 250px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(251, 229, 164);
    overflow: scroll;
}

.step4 {
    display: inline-block;
    height: 500px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(169, 194, 199);
    overflow: scroll;
}

.step5 {
    display: inline-block;
    height: 500px;
    width: 200px;
    margin: 10px;
    border: 3px black solid;
    background-color: rgb(189, 214, 172);
    overflow: scroll;
}
.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: lightblue;
    border-style: dashed;
}

.invisible {
    display: none;
}