body {
  padding: 0px;
  font: 14px "Lato";
  margin: 0px;
  background-color: rgba(186, 186, 186, 1.0);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}


.header-top-bar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	height: 30px;
	padding: 5px;
	background-color: rgba(0,0,0,.15);

	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.top-bar-block{
	width: 33.33%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-end;
	align-content: center;
	
}

.top-bar-block.left{
	justify-content: flex-start;
}

.top-bar-block.center{
	
}

.top-bar-block.right{
}

.top-bar-logo{
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

.profile-icon{
	border-radius: 50%;
	height: 30px;
}

.profile-icon-block{
	float: right;
	text-align: right;
}

.home-icon{
	width: 25px;
	display: inline-block;
	float: left;
	padding-right: 10px;
}

.search-form-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

#search-form{
	display: inline-block;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#search-input{
	background-color: rgba(255, 255, 255, .5);
	float: left;
	border: 0px;
	border-radius: 5px 0px 0px 5px;
}

#search-submit{
	background-color: rgba(255, 255, 255, .5);
	background-image: url("/images/search-2-64.png");
	background-repeat: no-repeat;
	background-position: 50%; 
	background-size: 15px 15px;
	width: 30px;
	border: 0px;
	border-radius: 0px 5px 5px 0px;
}


/**********************************************************
Body Section Styles
***********************************************************/
.body-section{
	padding-top: 40px;
}


.jobs-list-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
	overflow-x: auto;
	width: 100vw;

}

.jobs-list{
	width: 270px;
	margin: 0 5px 30px 0px;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	background-color: #e2e4e6;
	border-radius: 5px;
}

h2.jobs-list-heading{
	font-family: "Lato";
	font-size: 12px;
	font-weight: bold;
	margin-left: 9px;
}

.jobs-list-body{
	height: 400px;
	margin-right: 5px;
	margin-left: 9px;
	overflow: auto;
}

.jobs-list-body::-webkit-scrollbar {
    width: 0.4em;
}

.jobs-list-body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, 0.2);
    border-radius: 5px;
}

.jobs-list-body::-webkit-scrollbar-track {
    background-color: #e2e4e6;
}

.jobs-list-footer{
	height: 50px;
}

.job-block{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
    width: 94%;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.job-name{
	font-family: "Lato";
	width: 100%;
}

.job-info-block{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.job-name-block{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	margin-bottom: 15px;
}

.job-date{
	font-size: 10px;
	padding: 2px 8px 3px 8px;
	background-color: #61bd4f;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
}

.edit-job-icon{
	width: 10px;
	height: 10px;
}

.edit-job-icon:hover{
	opacity: 0.3;
}

.user-email{
	font-size: 10px;
	color: rgba(0,0,0,0.6);
	font-weight: 700;
}