body {
  padding: 0px;
  font: 14px "Lato";
  margin: 0px;
  background-color: rgba(186, 186, 186, 1.0);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
}


.header-top-bar{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	height: 30px;
	padding: 5px;
	background-color: rgba(0,0,0,.15);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.top-bar-block{
	width: 33.33%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	justify-content: flex-end;
	align-content: center;
	
}

.top-bar-block.left{
	justify-content: flex-start;
}

.top-bar-block.center{
	
}

.top-bar-block.right{
}

.top-bar-logo{
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

.profile-icon{
	border-radius: 50%;
	height: 30px;
}

.profile-icon-block{
	float: right;
	text-align: right;
}

.home-icon{
	width: 25px;
	display: inline-block;
	float: left;
	padding-right: 10px;
}

.search-form-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

#search-form{
	display: inline-block;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#search-input{
	background-color: rgba(255, 255, 255, .5);
	float: left;
	border: 0px;
	border-radius: 5px 0px 0px 5px;
}

#search-submit{
	background-color: rgba(255, 255, 255, .5);
	background-image: url("/images/search-2-64.png");
	background-repeat: no-repeat;
	background-position: 50%; 
	background-size: 15px 15px;
	width: 30px;
	border: 0px;
	border-radius: 0px 5px 5px 0px;
}


/**********************************************************
Body Section Styles
***********************************************************/
#color{ 
       text-decoration:line-through;
}

table{
	width: 100%; 
}

.jobs-list-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	height: 100%;
	overflow-x: auto;
	width: 100vw;

}

.jobs-list{
	width: 270px;
	margin: 0 5px 0px 0px;
	height: 90vh;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
	/* background-color: #e2e4e6; */
	border-radius: 5px;
}

h2.jobs-list-heading{
	font-family: "Lato";
	font-size: 12px;
	font-weight: bold;
  margin-left: 9px;
  background-color: #e2e4e6;
}
h4.jobs-list-heading{
	font-family: "Lato";
	font-size: 10px;
	font-weight: bold;
	margin-left: 9px;
}

.jobs-list-body{
	height: 80vh;
	margin-right: 5px;
	margin-left: 9px;
	overflow: auto;
}

.jobs-list-body::-webkit-scrollbar {
    width: 0.4em;
}

.jobs-list-body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0, 0.2);
    border-radius: 5px;
}

.jobs-list-body::-webkit-scrollbar-track {
    background-color: #e2e4e6;
}

.jobs-list-footer{
	height: 50px;
}

.job-block{
    background-color: #fff;
    border-bottom: 0px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.job-name{
	font-family: "Lato";
  width: 100%;
  text-align: left;
}

.job-info-block{
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
}

.job-name-block{
	color:black; 
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
}

.job-date{
	font-size: 14px;
	padding: 2px 8px 3px 8px;
	background-color: #61bd4f;
	color: #fff;
	display: inline-block;
	border-radius: 5px;
	height:20px;
}

.user-email{
	font-size: 12px;
	color: rgba(0,0,0,0.6);
	font-weight: 700;
}
.jobs-list-body.printer{
	height: 14vh; 
}
.jobs-list-body.tank{
	height: 21vh;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width:15px; 
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} 

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
} 

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 4px;
  width: 6px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#cover{
  width:100%;
  height:100%;
  background:transparent;
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  display:none; 
}
a{
    color: white;
    text-decoration: none;
}

#rework-jobs-list #cover{
	 display:flex; 
	 background: lightgray; 
	 height:16px; 
	 width:16px; 
}
/* Full-width input fields */
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login-button {
  font: 14px "Lato";
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  float:right;
  margin-right:5px; 
}

.login-button:hover {
  opacity: 0.8;
}

.netid-container {
  padding: 8px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
/* .modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
} */

/* Modal Content/Box */
/* .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
} 
*/

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.bug-button{
  background-color: red;
  color: white;
	font: 14px "Lato";
}
/* .close-btn{
  width: 100%;
  background-color: green;
  color: white;
	font: 14px "Lato";
} */

#complete-jobs-list #color{
       text-decoration:none;
}
#cleaningtank-3-list #color{
       text-decoration:none;
}
#cleaningtank-2-list #color{
       text-decoration:none;
}
#cleaningtank-1-list #color{
       text-decoration:none;
}
#printer-4-list #color{
       text-decoration:none;
}
#printer-3-list #color{
       text-decoration:none;
}
#printer-2-list #color{
       text-decoration:none;
}
#printer-1-list #color{
       text-decoration:none;
}
#new-jobs-list #color{
       text-decoration:none;
}
#new-jobs-list li:first-child {
  font-weight: bold;
}
.box{
  margin: 5px;
  border-style: solid;
  border-color: darkgrey; 
  border-radius: 10px;
  background-color: #e2e4e6;
}
#has-boxes{
  background-color: rgba(186, 186, 186, 1.0);
}
h2.jobs-list-heading{
  margin: 5px;
  border-style: solid;
  border-color: transparent;
  border-radius: 10px;
  background-color: #e2e4e6;
  padding-left: 9px;
}
.reg-column{
  padding: 5px; 
  border-style: solid;
  border-color: darkgrey; 
  border-radius: 10px;
  background-color: #e2e4e6;
}

/* header colors */
#first-col{
  background-color:#F7D1CD;
}
#second-col{
  background-color:#E8C2CA;
}
#third-col{
  background-color:#D1B3C4;
}
#fourth-col{
  background-color:#B392AC;
}
#fifth-col{
  background-color:#735D78;
}

/*popup trello*/
.modal-backdrop.in {
  opacity: 0.3; 
}
.modal-container{
  width: 100%; 
}
.btn-modal{
  width: 100%;
  background-color: transparent;
  border-color: transparent;
}
.modal-popup{
  width:100%;
  background-color:rgba(255,255,255,1);
} 
.row{
  margin:10px; 
}
.req{
  float: right; 
}