<!DOCTYPE html>
<html lang="en">

<head>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <title>Eclectic Source App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic", "Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Droid Sans:400,700", "Varela Round:400"]
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='test.js') }}"></script></body>
</head>

<body>
    <div class="body-section">
        <div class="jobs-list-wrapper">
            <div class="jobs-list">
                <h2 class="jobs-list-heading">3D Printing Queue</h2>
                <div class="jobs-list-body" id="new-jobs">
                    <ul id="new-jobs-list">
                        <li>
                            <div class="job-block" id="new-job-test">
                                <div class="job-name-block">
                                    <div class="job-name">Artiste Logo</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">14 Feb</div>
                                    <div class="user-email">codepen@gmail.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="jobs-list-footer"></div>
            </div>
            <div class="jobs-list">
                <h2 class="jobs-list-heading">Currently Printing</h2>
                <h4 class="jobs-list-heading">Printer 1</h4>
                <div class="jobs-list-body" id="in-progress">
                    <ul id="in-progress-list">
                        <li>
                            <div class="job-block" id="in-progress-test">
                                <div class="job-name-block">
                                    <div class="job-name">Corporate Logo</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">21 Apr</div>
                                    <div class="user-email">test@gmail.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h4 class="jobs-list-heading">Printer 2</h4>
                <div class="jobs-list-body" id="in-progress">
                    <ul id="in-progress-list">
                        <li>
                            <div class="job-block" id="in-progress-test">
                                <div class="job-name-block">
                                    <div class="job-name">Corporate Logo</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">21 Apr</div>
                                    <div class="user-email">test@gmail.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h4 class="jobs-list-heading">Printer 3</h4>
                <div class="jobs-list-body" id="in-progress">
                    <ul id="in-progress-list">
                        <li>
                            <div class="job-block" id="in-progress-test">
                                <div class="job-name-block">
                                    <div class="job-name">Corporate Logo</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">21 Apr</div>
                                    <div class="user-email">test@gmail.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h4 class="jobs-list-heading">Printer 4</h4>
                <div class="jobs-list-body" id="in-progress">
                    <ul id="in-progress-list">
                        <li>
                            <div class="job-block" id="in-progress-test">
                                <div class="job-name-block">
                                    <div class="job-name">Corporate Logo</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">21 Apr</div>
                                    <div class="user-email">test@gmail.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="jobs-list-footer"></div>
            </div>
            <div class="jobs-list">
                <h2 class="jobs-list-heading">Cleaning Tanks</h2>
                <h4 class="jobs-list-heading">Tank 1</h4>
                <div class="jobs-list-body" id="waiting">
                    <ul id="waiting-jobs-list">
                        <li>
                            <div class="job-block" id="waiting-job-test">
                                <div class="job-name-block">
                                    <div class="job-name">Brochure Design</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">01 Nov</div>
                                    <div class="user-email">little@gmail.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h4 class="jobs-list-heading">Tank 2</h4>
                <div class="jobs-list-body" id="waiting">
                    <ul id="waiting-jobs-list">
                        <li>
                            <div class="job-block" id="waiting-job-test">
                                <div class="job-name-block">
                                    <div class="job-name">Brochure Design</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">01 Nov</div>
                                    <div class="user-email">little@gmail.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h4 class="jobs-list-heading">Tank 3</h4>
                <div class="jobs-list-body" id="waiting">
                    <ul id="waiting-jobs-list">
                        <li>
                            <div class="job-block" id="waiting-job-test">
                                <div class="job-name-block">
                                    <div class="job-name">Brochure Design</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">01 Nov</div>
                                    <div class="user-email">little@gmail.com </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="jobs-list-footer"></div>
            </div>
            <div class="jobs-list">
                <h2 class="jobs-list-heading">Drying</h2>
                <div class="jobs-list-body" id="complete">
                    <ul id="complete-jobs-list">
                        <li>
                            <div class="job-block" id="complete-jobs-test">
                                <div class="job-name-block">
                                    <div class="job-name">Artwork Design</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">16 Mar</div>
                                    <div class="user-email">flipper@test.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="jobs-list-footer"></div>
            </div>
            <div class="jobs-list">
                <h2 class="jobs-list-heading">Ready for Pickup </h2>
                <div class="jobs-list-body" id="rework">
                    <ul id="rework-jobs-list">
                        <li>
                            <div class="job-block" id="rework-job-test">
                                <div class="job-name-block">
                                    <div class="job-name">Business Cards</div>
                                    <div class="job-edit"><img class="edit-job-icon" src="https://image.flaticon.com/icons/svg/61/61456.svg"></div>
                                </div>
                                <div class="job-info-block">
                                    <div class="job-date">26 Jun</div>
                                    <div class="user-email">rework@es.com</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="jobs-list-footer"></div>
            </div>
        </div>
    </div>
    <div class="footer-section"></div>
</body>

</html>
